html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
  background: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45)
    ),
    url("/build/img/fondo-grad.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
p {
  color: $negro;
  font-size: 2rem;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto !important;
  overflow: hidden !important;
}

.seccion {
  margin: 0 auto !important;
  overflow: hidden !important;
}

a,
button {
  text-decoration: none !important;
  border-style: none;
  color: $negro;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: $fuente_principal;
  margin: calc($separacion / 2) 0;
  font-weight: 300;
  text-align: center;
  font-weight: 100;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
  text-transform: uppercase;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}

.alerta {
  width: fit-content;
  margin: 1.3rem auto;
  padding: 1rem 2rem;
  background-color: $amarillo;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  font-weight: 200;
  border-radius: 3rem;
  color: $negro;

  &.error {
    background-color: $rojo;
  }
}
