@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$amarillo: #eedeaa;
$amarillo-claro: #eedeaadc;
$lila: #e9dcf1;
$violeta: #a9a1c5;
$verde: #91bb48;
$verde-claro: #bfe26e;
$blanco: #fff;
$gris: #f1f1f1;
$rojo: #f08787;
$negro: #333;
$celeste: #bad8ce;
$color: #c1d4ec;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
