.titulo-prods {
  @include tablet {
    padding-top: 10rem;
  }
  padding-top: 5rem;
  margin: 0 !important;
}

.caja-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  .producto {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin: 1rem;
    background-color: $blanco;
    border-bottom-right-radius: 2rem;
    box-shadow: 0px 8px 15px -4px rgba(0, 0, 0, 0.75);

    .caja-imagen {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 30rem;
      cursor: pointer;

      img {
        position: relative;
        background-size: cover;
        background-position: center center;
        width: 30rem;
        height: 30rem !important;
        transition: 0.3s;
      }

      &::after {
        content: "";
        position: absolute;
        display: grid;
        place-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(/build/img/boton-mas.png);
        background-position: center center;
        background-repeat: no-repeat;
        transform: translateY(6rem);
        opacity: 0;
        transition: all 0.4s ease;
      }

      &:hover img {
        filter: blur(0.2rem);
        transform: scale(1.2);
      }

      &:hover::after {
        transform: translateY(0);
        opacity: 1;
      }
    }

    h3 {
      font-weight: 300;
      font-size: 2rem;
      margin: 1rem 0;
    }
    p {
      font-weight: 300;
      margin-bottom: 1.5rem;
    }

    .precio-agregar {
      display: flex;
      width: 100%;
      overflow: hidden;

      .precio {
        font-weight: 200;
        letter-spacing: 0.2rem;
        font-size: 2.5rem;
        text-align: center !important;
        flex: 1;
        margin: 0 1rem 0 1rem;

        span {
          color: $verde;
          font-weight: 600;
        }
      }

      .agregar {
        height: 5rem;
        flex: 2;
        background-color: $amarillo !important;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: darken($amarillo, 10%) !important;
        }

        &::before {
          content: "Agregar al Carrito";
          display: grid;
          place-content: center;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: 0.3s;
        }

        &::after {
          content: "Agregado !";
          display: grid;
          place-content: center;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: 0.3s;
          background-color: $celeste;
          transform: translateY(100%);
          z-index: 10;
        }

        &:focus:before,
        &:focus:after {
          animation: agregado 3s ease-in-out;
        }

        @keyframes agregado {
          0% {
            transform: translateY(0);
          }
          20% {
            transform: translateY(-100%);
          }
          80% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.swal2-popup {
  @include tablet {
    width: 45rem !important;
  }
}
.swal2-image {
  @include tablet {
    height: 45rem !important;
  }
  margin: 0 !important;
}
.swal2-styled {
  background-color: $amarillo-claro !important;
  width: 15rem !important;
  height: 4rem !important;
  color: $negro !important;
  box-shadow: none !important;
}
