#pedidos-admin {
  width: 100%;
  .pedidos {
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      list-style: none;
      font-size: 1rem !important;
      margin: 2rem;
      width: 45rem !important;
      padding: 2rem;
      background-color: $blanco;
      border-radius: 2rem;
      box-shadow: 0px 2px 5px 0px rgba(61, 61, 61, 0.753);
    }
    p {
      font-size: 1.5rem !important;
    }

    #n-pedido {
      text-align: center;
      font-weight: bold;
      font-size: 2rem !important;
    }

    #titulo-prod {
      text-transform: uppercase;
      color: $violeta;
      margin: 0.5rem 0;
    }

    .productos {
      display: flex;
      align-items: center;
      color: $blanco;

      span {
        color: $negro;
      }
      #n-cantidad {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $celeste;
        display: grid;
        place-content: center;
      }
    }

    .total {
      font-weight: 900;
      letter-spacing: 0.2rem;
    }

    .eliminar {
      background-color: transparent;
      margin-top: 1rem;
      transition: 0.2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-0.5rem) scale(1.1);
      }
    }
  }
}
